@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@400&display=swap");

body {
  background-color: #d9ce3f;
  font-family: "poppins", serif;
}

.App {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 60%;
  padding: 30px;
  background-color: #000;
  color: white;
}
